<launch>


  <include file="$(find biotac_sp_ros)/biotac.launch">
  </include>

  <node name="rosservice" pkg="biotac_ros" type="normalPrediction.py" output="screen">
  </node>

  <node name="biotac_testing" pkg="biotac_ros" type="biotc_sensor" output="screen">
  </node>

  <node name="plotter"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/hand/plotvar/data[0] /hand/plotvar/data[1] /hand/plotvar/data[2]" >
  </node>

</launch>